.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .7;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemons a {
    text-decoration: none;
}

.normal, .progress-normal::-webkit-progress-value{
    background-color: #a6a577;
}

.grass, .progress-grass::-webkit-progress-value {
    background-color: #77c850;
}

.fire, .progress-fire::-webkit-progress-value {
    background-color: #ee7f30;
}

.water, .progress-water::-webkit-progress-value {
    background-color: #678fee;
}

.electric, .progress-electric::-webkit-progress-value {
    background-color: #f7cf2e;
}

.ice, .progress-ice::-webkit-progress-value {
    background-color: #98d5d7;
}

.ground, .progress-ground::-webkit-progress-value {
    background-color: #dfbf69;
}

.flying, .progress-flying::-webkit-progress-value {
    background-color: #a98ff0;
}

.poison, .progress-poison::-webkit-progress-value {
    background-color: #a040a0;
}

.fighting, .progress-fighting::-webkit-progress-value {
    background-color: #bf3029;
}

.psychic, .progress-psychic::-webkit-progress-value {
    background-color: #f65687;
}

.dark, .progress-dark::-webkit-progress-value {
    background-color: #725847;
}

.rock, .progress-rock::-webkit-progress-value {
    background-color: #b8a137;
}

.bug, .progress-bug::-webkit-progress-value {
    background-color: #a8b720;
}

.ghost, .progress-ghost::-webkit-progress-value {
    background-color: #6e5896;
}

.steel, .progress-steel::-webkit-progress-value {
    background-color: #b9b7cf;
}

.dragon, .progress-dragon::-webkit-progress-value {
    background-color: #6f38f6;
}

.fairy, .progress-fairy::-webkit-progress-value {
    background-color: #f9aec7;
}

.pokemon .detail img {
    max-width: 100%;
    height: 120px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

/* DETAILS */

.detailsBackground {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 40vh;
    padding: 1rem;
}

.detailsBackground .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.detailsBackground .pokemonInfo h1,
.detailsBackground .pokemonInfo h4 {
    color: #fff;
    margin: 0;
    padding: 0;
}

.detailsBackground .pokemonInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-transform: capitalize;
}

.detailsBackground .pokemonInfo .types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.detailsBackground .pokemonInfo .types .type {
    color: #fff;
    padding: .25rem .5rem;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.detailsBackground .image {
    display: flex;
    justify-content: center;
    position: relative;
}

.detailsBackground .image img {
    max-width: 100%;
    height: 250px;
    z-index: 2;
}

.detailsBackground .image .pokeball {
    max-width: 100%;
    height: 280px;
    position: absolute;
    opacity: .5;
    z-index: 1;
    margin-left: 135px;
}

.detailsInfo {
    border-radius: 2rem 2rem 1rem 1rem;
    margin-top: -1.5rem;
    padding: 1rem;
    padding-top: 8rem;
    height: 70vh;
    background-color: #fff;
}

.detailsInfo .abilitiesSize {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(169, 169, 169, 0.3);
}

.detailsInfo .abilities {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.detailsInfo .abilities h3 {
    padding: 1rem;
}

.detailsInfo .size {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.detailsInfo .size h3,
.detailsInfo .size h3 {
    padding: 1rem;
}

.detailsInfo .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.detailsInfo .stats p {
    width: 50%;
}

.progress::-webkit-progress-bar {
    display: flex;
    align-items: center;
    margin: 1rem;
    outline: 2px solid #000;
    border-radius: 5px;
}

progress {
    margin-left: 1rem;
    border: none;
}

@media screen and (max-width: 386px){
    .detailsInfo{
        height: 100vh;
    }
}

@media screen and (min-width: 420px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .detailsInfo .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 

    .detailsInfo .stats p{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .detailsInfo .abilitiesSize {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(169, 169, 169, 0.3);
    }

    .detailsInfo .abilities {
        justify-content: center;
    }

    .detailsInfo .size {
        justify-content: center;
    }

    h3 {
        margin: 0;
    }

    .detailsInfo .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 

    .detailsInfo .stats p{
        margin-top: 1rem;
        width: 120px;
    }

    .detailsBackground .image .pokeball {
        right: 0;
    }
}

@media screen and (max-width: 972px) {
    .detailsBackground {
        border-radius: 0;
    }
}

@media screen and (min-width: 768px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }


    .detailsBackground .image .pokeball {
        margin-left: 335px;
    }
}

@media screen and (min-width: 1200px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .detailsBackground .image img {
        max-width: 100%;
        height: 300px;
    }
}

@media screen and (min-width: 1500px) {
    .detailsBackground .image img {
        max-width: 100%;
        height: 350px;
    }
}